<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            {{ 'addCar' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="addCar">
    <form class="list">
        <ion-list>
            <label class="item item-input">
        <span class="input-label">{{ 'NAME' | translate }}</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'MODEL' | translate }}</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'PRICE' | translate }}</span>
        <input type="number" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'GASOLINE' | translate }}</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'SPEED' | translate }}</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'COLOR' | translate }}</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input">
        <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
        <input type="text" placeholder="">
      </label>
        </ion-list>
        <button class="button button-dark button-block">{{ 'ADDCAR' | translate }}</button>
    </form>
</ion-content>