<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'CARS' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="cars-button-bar1" class="button-bar">
        <button id="cars-button13" class="button button-positive button-block">ALL</button>
        <button id="cars-button14" class="button button-positive button-block">NEW</button>
        <button id="cars-button15" class="button button-positive button-block">USED</button>
    </div>
    <form class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="">
        </label>
    </form>
    <div class="list card" id="cars-card1">
        <ion-item class="item-thumbnail-left" id="cars-list-item1">
            <h2>CAR 1</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="cars-list-item2">
            <h2>CAR 2</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="cars-list-item3">
            <h2>CAR 3</h2>
        </ion-item>
    </div>
</ion-content>